iTESTi
<ul>
iTESTib
{% for page in site.pages | sort:"title" %}
iTESTid
{% for pc in page.categories %}
iTESTie
{% if pc == include.cat %}
iTESTif
{% if include.unpublished == true or page.publish == true %}
iTESTig
<li>
    <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    {% for tag in page.tags %}
    <span class="badge badge-{{ tag }}">{{ tag }}</span>
    {% endfor %}
</li>
{% endif %}   <!-- published-p -->
{% endif %}   <!-- cat-match-p -->
{% endfor %}  <!-- page-category -->
{% endfor %} <!-- page -->
</ul>
