#main, #sidebar {
  padding: 20px 10px 40px 10px;
}

.navbar {
       -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
}

#toc {
    margin-top: 1em;
}

@media (min-width: 768px) { 
  #toc {
    position: fixed;
    width: 350px;
  }
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 25px;
}

#toc .toc-h3 {
    padding-left: 50px;
}

#toc .toc-active {
    background: #ffffff;
    box-shadow: inset -5px 0px 10px -5px #f5f5f5;
}

#edit_button {
    float: right;
}

#footer {
  margin: 2em 0;
}