<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/ico/favicon.png">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/assets/css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">Keeping Codes</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="panel panel-default" id="toc_panel">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
    </div>
    <div class="panel-body">
    <div id="toc">
    </div>
    </div>
  </div>          
        </div>

        <div class="col-xs-12 col-sm-8">

        <a href="https://github.com/anjackson/dp-notes/blob/gh-pages/{{ page.path }}" 
            title="Edit this page on GitHub.">
          <button type="button" class="btn btn-default" id="edit_button">
          <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </a>
 
        <h1>{{ page.title }}</h1>
        <div id="main">
        {{ content }}
        </div>

        <div id="footer"> 
        </div>

      </div>
    </div>

    </div><!-- /.container -->

    <div class="navbar navbar-default" id="footer">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="https://github.com/anjackson/dp-notes">on GitHub</a></li>
            <li><a href="https://github.com/anjackson/">by anjackson</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.baseurl }}/assets/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <!-- Set up the Table of Contents -->
    <script src="{{ site.baseurl }}/assets/js/jquery.toc.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      $('#toc').toc( { 'container': '#main' } );
    </script>
  </body>
</html>
